* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right,skyblue, green,yellow );
}

.image {
    width: 300px;
    border-radius: 54px;
    margin-top: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}

.h1 {
    margin-left: 25px;
    text-align: center;
    /* background-color: darkgrey; */
}

div p {
    word-wrap: break-word;
}

.container .div2 {
    width: 70vw;
    border: 2px solid black;
    text-align: center;
    word-spacing: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    margin-top: 7px;
}

.footer {
    height: 40px;
    border-top: 2px solid black;
    padding-top: 5px;
    /* background-color: rgba(155, 245, 156, 0.5); */
    font-size: large;
    font-weight: bold;
    text-align: center;
}